#schedule-header{
    text-align: center;
    font-family: "Catamaran", sans-serif;
    border: 3px solid white;
    color: #886060;

    padding: 1rem;
}
.schedule{
    background-color: rgba(255, 229, 217, 0.493);

    padding: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
   

}
.dayheading{
    color: rgb(160, 115, 115);
    border-bottom: 3px solid white;

}
.day{
    width: 100%;
    text-align: center;
}

.classes{
    width: 70%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 3px;
}
.content h4{
    color: #886060;
}
.content p{
    color: #daa5a5;
}
.bigdesc{
    display: none;
}

.biology{background-color: rgb(255, 236, 236);}
.biologylab{background-color: rgb(255, 245, 245);}
.research{background-color: rgb(255, 226, 226);}
.operatingsystems{background-color: rgb(255, 217, 205);}
.discretemath{background-color: rgb(255, 180, 180);}
.urbanstudies{background-color: rgb(255, 186, 140);}
.piano{background-color: rgb(255, 160, 160)};


.collapsible {

    color: white;
    cursor: pointer;

    padding: 18px;
    border: none;
    text-align: left;
    outline: none;

  }

  button{
      align-items: center;
      font-size: 0.8rem;

      color: #a77070;
  }
  
  .active, .collapsible:hover {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    color: rgb(104, 101, 141);
    background-color: rgb(203, 214, 253);
  }
  
  .collapsible:after {

    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {

    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ffffff;
    border-radius: 3px;
  }
  
  .sidebar{
      display: none;
  }









/********************************** start of tablet styles **********************************/
@media only screen and (min-device-width : 767px) and (max-device-width : 1024px){
    .schedule{
        padding-bottom: 5rem;

    }

    .content{
        margin: 0 auto;
    }

    .sidebar{
        display: none;
    }

}










/********************************** start of desktop styles **********************************/
@media only screen and (min-width: 1024px) {
    /******************** content ********************/
    
    .content-container{

        text-align: center;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 100%;
        padding: 3rem;


        grid-template-areas:
            "sidebar schedule";

    }

    .content h4{
        color: #886060;
    }
    .content p{
        color: #daa5a5;
    }
    .smalldesc{
        display: none;
    }
    .bigdesc{
        display: block;
    }

    .schedule{
        margin: 3rem;
        margin-top: 0;
    }

    .sidebar{
 
        position: fixed;
        display: block;
        width: 20rem;
        margin-top: 8rem;
        color: #8f5f5f;

    }
    
    .schedule{
        grid-area: schedule;
    }

    #photo img{
        height: 10rem;
        width: 17rem;


    }

    .sideintro{
        background-color: #fddbcb86;
        padding: 1rem;
        margin-top: 1rem;
    }
    
    
    
}